{% load static %}

<a href="{% url 'groups:group_detail' group.pk %}" class="text-decoration-none">
    <button class="btn btn-primary border border-dark w-100 rounded-2 h-100" role="button">
        <div class="d-flex align-items-center flex-column my-5">
            <div class="my-2 mx-5">
              <img
                src="{% if group.photo %}{{ group.get_img.url }}{% else %}{% static 'img/default_avatar_group.jpg' %}{% endif %}"
                class="rounded-circle border border-5 border-dark group-list-image"
              >
            </div>
            <div class="d-flex align-items-center flex-column my-auto">
              <div class="d-flex flex-row">  
                <h1 class="text-center my-2 text-break">
                  {{ group.name }}
                </h1>
              </div>
              {% if group.about %}
                <p class="text-break text-center mb-2">{{ group.about|truncatewords:10|capfirst }}</p>
              {% endif %}
            </div>
          </div>
    </button>
</a>
