{% extends "base.html" %}

{% load static %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{% static 'img/password_reset_confirm.jpg' %}" class="img-fluid rounded-start" alt="signin">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title">Введите новый пароль</h4>
          <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
          {% for field in form %}
            {% include "users/includes/field.html" %}
          {% endfor %}
          <button type="submit" class="btn btn-light mt-2">Далее</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
