{% load static %}

<div
  class="modal fade"
  id="modal-followers"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content w-50 mx-auto">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
          Подписчики {{ group.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
            {% for follower in group.members.all %}
                {% include "users/includes/user_card.html" with follower=follower %}
            {% empty %}
              <h5>Здесь пока никого нет</h5>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>