{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between flex-column w-50 mx-auto">
  {% include "users/includes/card_of_user.html" %}
  <button
    type="button"
    class="btn btn-primary mt-5 mb-2"
    data-bs-toggle="modal"
    data-bs-target="#modal-profile"
  >
    Редактировать профиль
  </button>
  <a href="{% url 'auth:password_change' %}" class="btn btn-outline-primary">Изменить пароль</a>
  <div
    class="modal fade"
    id="modal-profile"
    tabindex="-1"
    aria-labelledby="ProfileUpdate"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="ProfileUpdate">
            Редактирование профиля
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in profileform %}
              {% include "users/includes/form.html" %}
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Обновить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% comment %} 

{% for media in user.media.all %}
  <p>название достижения: {{ media.name }}</p>
  <p>Описание: {{ media.description }}</p>
  <p>путь к файл (я думаю лучше делать либо отображение, если это формат фоток, либо ссылка на скачивание или что то подобное): {{ media.file }}</p>
{% endfor %}


<h4>Короче, добавление медия или урлов не сделал</h4>
<h4>На тебе отображение этих штучек</h4>
<h5>А так, думаю сделаем тоже кнопку как с редактрованием профилем и модальным окном, плюс форму на удаление крч дел куча...</h5>


<h4>Если будешь делать модальные окна то вот тебе формы</h4>
{{ mediaform.as_p }}
{{ linksform.as_p }} {% endcomment %}
{% endblock %}
