{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="card col-12">
  {% include "users/includes/card_of_user.html" %}
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modal-cart"
  >
    Редактировать профиль
  </button>
  <a href="{% url 'auth:password_change' %}" class="btn btn-outline-primary">Изменить пароль</a>
  <div
    class="modal fade"
    id="modal-cart"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">
            Редактирование профиля
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close_modal"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              {% include "users/includes/form.html" %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
