{% extends "base.html" %}

{% load static %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{% static 'img/signup.jpg' %}" class="img-fluid rounded-start" alt="password_reset">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title">Регистрация</h4>
          {% for field in form %}
            {% include "users/includes/form.html" %}
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">Далее</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
