{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user_list %}
  <div class='container-fluid text-center'>
    <h1 class="text-start">Люди</h1>
    {% include 'includes/search.html' %}
    <div class='row'>
      {% for user in user_list %}
        <tr>
          <div class='col-xs-12 col-md-4 py-2'>{% include "users/includes/user_card.html" with follower=user %}</div>
        </tr>
      {% endfor %}
    </v>
  </div>
  {% include "includes/pagination.html" %}
{% else %}
  <h3 class="text-center">Пользователей нет.</h3>
{% endif %}

{% endblock %}