{% load static %}

<header>
  {% with request.resolver_match.view_name as view_name %}
    <nav class="navbar navbar-expand-lg row">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'homepage:home' %}">
            <img src="{% static 'img/main_logo.png' %}" alt="Cat" id="header_logo">
            YaCareer
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
    
              <li class="nav-item">
                <a 
                  class="{% if view_name == 'homepage:home' %}nav-link disabled{% else %}nav-link{% endif %}"
                  href="{% url 'homepage:home' %}"
                >Главная</a>
              </li>
    
              <li class="nav-item">
                <a 
                  class="nav-link"
                  href="#"
                >Другие</a>
              </li>
          
              <li class="nav-item">
                <a 
                  class="nav-link"
                  href="#"
                >Переходы</a>
              </li>
              
            </ul>
    
          </div>
        </div>
        
        <ul class="navbar-nav col-md-1 text-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <img
                src="{% if user.photo != "False" %} {{ user.get_img.url }} {% else %} {% static 'img/default_avatar_user.jpg' %} {% endif %}"
                class="rounded-circle border border-1"
                id="user_img"
              >
            </a>
            <ul class="dropdown-menu" id="header_dropdown">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Мой профиль</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'auth:logout' %}">
                    Выйти
                    <img src="{% static 'img/logout.png' %}" alt="user" id="img_logout">
                  </a>
                </li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'auth:login' %}">Авторизация</a></li>
                <li><a class="dropdown-item" href="{% url 'users:signup' %}">Регистрация</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        
    </nav>
  {% endwith %}
</header>