{% load static %}

<div class="row">
  <div class="col">
    {% comment %} {{ user }}
    {{ user.photo.get_img }} {% endcomment %}
    {% if user.photo %}
      {{ user.image_tmb }}
    {% else %}
      <img src="{% static 'img/user.png' %}"
    {% endif %}
    {% comment %} <img
      class="img_item_detail"
      src="{{ user.image_tmb }}"
      alt="{{item.id}}"
    > {% endcomment %}
    {% comment %} <img src="{{ user.photo }}" alt="avatar" id="avatar" style="width: 50%"> {% endcomment %}
  </div>
  <div class="col">
    2 of 3
  </div>
  <div class="col">
    3 of 3
  </div>
</div>