{% load static %}

<div class="d-flex align-items-center flex-column my-5">
  <div class="my-2 mx-5">
    <img
      src="{% if user.photo != "False" %} {{ user.get_img.url }} {% else %} {% static 'img/default_avatar_user.jpg' %} {% endif %}"
      class="{% if user.is_open_to_work %} rounded-circle border border-5 border-success {% else %} rounded-circle border border-5 border-dark {% endif %}"
    >
  </div>
  <div class="d-flex align-content-center flex-column my-auto">
    <h1
      class="text-center my-2"
    >
    {% if user.first_name or user.last_name %}
      {{user.first_name}} {{user.last_name}}
    {% else %}
      Не указано
    {% endif %}
    </h1>
    {% if user.description %}
      <p class="text-break text-center mb-2">{{ user.description }}</p>
    {% endif %}
  </div>
</div>

<button
  type="button"
  class="btn btn-primary mt-5 mb-2"
  data-bs-toggle="modal"
  data-bs-target="#modal-links"
>
  Добавить ccылку
</button>

<div class="d-flex flex-row">
  <div class="dropdown w-50">
    <button class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Контакты
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
      <li>
        
        {% for link in user.links.all %}
          {% if link.service.is_contact %}
            <a class="dropdown-item text-center fs-6" href="{{ link.slug }}">
              <i class="{{ link.service.bootstrap_icon }}"></i>
              {{ link.service }}
            </a>
          {% endif %}
        {% endfor %}

      </li>
    </ul>
  </div>
  <div class="dropdown w-50">
    <button class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Ресурсы
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
      {% for link in user.links.all %}
          {% if not link.service.is_contact %}
            <a class="dropdown-item text-center fs-6" href="{{ link.slug }}">
              <i class="{{ link.service.bootstrap_icon }}"></i>
              {{ link.service }}
            </a>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>

<div
  class="modal fade"
  id="modal-links"
  tabindex="-1"
  aria-labelledby="ResourcesLinks"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="ResourcesLinks">
          Изменение ссылок:
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {% for field in linksform %}
            {% include "users/includes/form.html" %}
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">Создать</button>
        </form>

        {% for link in user.links.all %}
          <div>
            <a
              class="fs-6 text-primary"
              href="{{ link.slug }}"
            >
              <i class="{{ link.service.bootstrap_icon }}"></i>
              {{ link.service }}
            </a>
            <a
              href="{% url 'users:del_link' link.id %}"
              class="fs-6 text-primary"
            >
              <i class="bi bi-trash"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
