{% load static %}

<div class="d-flex align-items-center flex-column">
  <div class="my-2 mx-5">
    {% if user.photo %}
      <img src="{{ user.get_img.url }}" class="rounded-circle border border-5">
    {% else %}
      <img src="{% static 'img/user.png' %}" class="rounded-circle border border-5">
    {% endif %}
  </div>
  <div class="d-flex align-content-center flex-column my-auto">
    <h1 class="text-center my-2">{{user.first_name}} {{user.last_name}}</h1>
    <p class="text-break text-center mb-2">ОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписаниеОписание</p>
  </div>
</div>