{% load static %}

<div class="d-flex align-items-center flex-column mt-5 mb-2">
  <div class="my-2 mx-5">
    <img
      src="{% if user.photo %} {{ user.get_img.url }} {% else %} {% static 'img/default_avatar_user.jpg' %} {% endif %}"
      class="{% if user.is_open_to_work %} rounded-circle border border-5 border-success {% else %} rounded-circle border border-5 border-dark {% endif %}"
    >
  </div>
  <div class="d-flex align-content-center flex-column my-auto">
    <h1
      class="text-center my-2"
    >
    {% if user.first_name or user.last_name %}
      {{user.first_name}} {{user.last_name}}
    {% else %}
      Не указано
    {% endif %}
    </h1>
    {% if user.about %}
      <p class="text-break text-center mb-2">{{ user.about }}</p>
    {% endif %}
  </div>
  <div class="d-flex w-100 justify-content-evenly my-3 user-select-none">
    <div class="d-flex flex-column align-items-center" data-bs-toggle="modal" data-bs-target="#modal-followed" role="button">
      <h2>{{ user.user_followed.count }}</h2>
      <p>подписчиков</p>
    </div>
    <div class="d-flex flex-column align-items-center" data-bs-toggle="modal" data-bs-target="#modal-follows" role="button">
      <h2>{{ user.user_follows.count }}</h2>
      <p>подписок</p>
    </div>
  </div>
  {% if request.user.is_authenticated and request.user.id|slugify != request.resolver_match.kwargs.pk and request.path != '/users/profile/' %}
    <form method="post">
      {% csrf_token %}
      <select name="to_user" required id="id_to_user" style="display: none;">
        <option value="{{request.resolver_match.kwargs.pk}}" selected></option>
      </select>
      <select name="from_user" required id="id_from_user" style="display: none;">
        <option value="{{request.user.id}}" selected></option>
      </select>
      <button type="submit" class="btn btn-light border border-dark">
        <p> {{ request.user}} <p>

        <p>{% for follow in user.user_followed.all %}
          {{follow.from_user}}
        {% endfor %}</p>
        {% if request.user in user.user_followed.all %}
          Отписаться
        {% else %}
          Подписаться
        {% endif %}
      </button>
    </form>
  {% endif %}
</div>
{% include "users/includes/modal/follows.html" %}