{% load static %}


<div class="d-flex flex-row mb-2">
    <div class="dropdown w-50 me-1">
      <button
        class="btn btn-primary border border-dark dropdown-toggle w-100"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        {% if not user.links.all %}
          disabled
        {% endif %}>
        Контакты
      </button>
      <ul class="dropdown-menu w-100">
        <li>
          {% for link in user.links.all %}
            {% if link.service.is_contact %}
              <a class="dropdown-item text-center fs-6" href="{{ link.slug }}">
                <i class="{{ link.service.bootstrap_icon }}"></i>
                {{ link.service }}
              </a>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
    <div class="dropdown w-50 ms-1">
      <button class="btn btn-primary border border-dark dropdown-toggle w-100" type="button"  data-bs-toggle="dropdown" aria-expanded="false"{% if not user.links.all %}disabled{% endif %}>
        Ресурсы
      </button>
      <ul class="dropdown-menu w-100">
        {% for link in user.links.all %}
          {% if link.service.is_contact %}
            <a class="dropdown-item text-center fs-6" href="{{ link.slug }}">
              <i class="{{ link.service.bootstrap_icon }}"></i>
              {{ link.service }}
            </a>
          {% endif %}
        {% endfor %}
      </li>
    </ul>
  </div>
  <div class="dropdown w-50 ms-1">
    <button class="btn btn-primary border border-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"{% if not user.links.all %} disabled="false"{% endif %}>
      Ресурсы
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
      {% for link in user.links.all %}
        {% if not link.service.is_contact %}
          <a class="dropdown-item text-center fs-6" href="{{ link.slug }}">
            <i class="{{ link.service.bootstrap_icon }}"></i>
            {{ link.service }}
          </a>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
