{% load static %}

<div
  class="modal fade"
  id="modal-followed"
  tabindex="-1"
  aria-labelledby="UserFollowed"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content w-50 mx-auto">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="ProfileUpdate">
          Подписчики {{ user.first_name }} {{ user.last_name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ user.us_followed.all }}
        {{ user.us_follows.all }}
        {% for follower in user.followed.all %}
            {% include "users/includes/user_card.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>