{% load static %}

<button
  type="button"
  class="btn btn-primary border border-dark mb-2"
  data-bs-toggle="modal"
  data-bs-target="#modal-links"
>
  Добавить ccылку
</button>


<div
  class="modal fade"
  id="modal-links"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="Links">
          Изменение ссылок:
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {% for field in links_form %}
            {% include "users/includes/field.html" %}
          {% endfor %}
          <button type="submit" name="links_submit" class="btn btn-primary border border-dark mt-2">Добавить</button>
        </form>

        <hr>

        <form method="post">
          {% csrf_token %}
          {{ del_links_form }}
          <button
            type="submit"
            class="btn btn-primary border border-dark mt-2"
            name="links_del"
          >
            Удалить
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
