{% load static %}

<button
  type="button"
  class="btn btn-primary mt-5 mb-2"
  data-bs-toggle="modal"
  data-bs-target="#modal-links"
>
  Добавить ccылку
</button>


<div
  class="modal fade"
  id="modal-links"
  tabindex="-1"
  aria-labelledby="Links"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="Links">
          Изменение ссылок:
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {% for field in linksform %}
            {% include "users/includes/form.html" %}
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">Добавить</button>
        </form>

        {% for link in user.links.all %}
          <div>
            <a
              class="fs-6 text-primary"
              href="{{ link.slug }}"
            >
              <i class="{{ link.service.bootstrap_icon }}"></i>
              {{ link.service }}
            </a>
            <a
              href="{% url 'users:del_link' link.id %}"
              class="fs-6 text-primary"
            >
              <i class="bi bi-trash"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
