{% extends "base.html" %}

{% load static %}

{% block content %}

<form method="post">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{% static 'img/login.jpg' %}" class="img-fluid rounded-start" alt="signin">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title">Создание группы</h4>
          {% include "includes/form.html" %}
          <div class="mt-2">
          <button type="submit" class="btn btn-light border border-dark">Войти</button>
          <a href="{% url 'auth:password_reset' %}" class="btn btn-light border border-dark" role="button" aria-pressed="true">Забыли пароль?</a>
          <p class="mt-4">Нет аккаунта? Зарегистрируйтесь <a href="{% url 'users:signup' %}">здесь</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
