{% extends "base.html" %}

{% load static %}

{% block content %}
{% if group_list %}
    <div class='container-fluid text-center'>
        <h1 class="text-start">Группы</h1>
        {% include 'includes/search.html' %}
        <div class='row'>
            {% for group in group_list %}
                <tr>
                    <div class='col-xs-12 col-md-4 py-2'>{% include "groups/includes/group_list_card.html" %}</div>
                </tr>
            {% endfor %}
        </div>
    </div>
    {% include "includes/pagination.html" %}
{% else %}
    <h3 class="text-center">Групп нет.</h3>
{% endif %}

{% endblock %}