{% extends "base.html" %}

{% load static %}

{% block content %}

{% if group_list %}
    <div class='container-fluid text-center'>
        <div class='row'>
            {% for group in group_list %}
                <tr>
                    <div class='col-xs-12 col-md-4 py-2'>{% include "groups/includes/group_list_card.html" %}</div>
                </tr>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <ul class="pagination">
        <div class="d-flex flex-row mx-auto mt-5">
            <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                <a class="page-link user-select-none" href="{% if page_obj.has_previous %}/groups?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <span class="page-current">
                {% comment %} <li>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </li> {% endcomment %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            </span>
            <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                <a class="page-link user-select-none" href="{% if page_obj.has_next %}/groups?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </div>
    {% endif %}
{% else %}
    <h3>My groups</h3>
    <p>No groups found!!! :(</p>
{% endif %}

{% endblock %}