{% load static %}

<button class="btn btn-light " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">О нас</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasScrollingLabel">Описание</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion" id="accordionExample">
            
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <h3>Что такое YaCareer?</h3>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <h4>YaCareer — это сервис, на которым соискатель и работодатель могут сойтись на наилучших друг для друга условиях.</h4>
              <h5>Идея проекта в создании сервиса для хранения и показа портфолио соискателя, которое могло бы помочь при поиске работы и получении выгодных условий труда, а также в предоставлении работодателям площадки для поиска квалифицированных сотрудниковы</h5>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <h4>Основные функции и возможности, доступные на данный момент пользователям:</h4>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h5>•	Размещать краткую информацию о себе.</h5>
            <h5>•	Прикреплять свидетельства личных достижений.</h5>
            <h5>•	Создание групп, управление ими владельцем группы.</h5>
            <h5>•	Участие в группах посторонних пользователей.</h5>
            <h5>•	Создание вакансий, управление владельцем группы.</h5>
            <h5>•	Отклик соискателя на вакансии.</h5>
            <h5>•	...(В разработке)</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>