@font-face {
    font-family: 'SF UI Text';
    src: url('../fonts/SFUIText-Bold.eot');
    src: local('SF UI Text Bold'), local('SFUIText-Bold'),
    url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Bold.woff2') format('woff2'),
    url('../fonts/SFUIText-Bold.woff') format('woff'),
    url('../fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../fonts/SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('SFUIText-Light'),
    url('../fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIText-Light.woff2') format('woff2'),
    url('../fonts/SFUIText-Light.woff') format('woff'),
    url('../fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#user_img {
	width: 30px;
}
#header_logo {
	width: 50px;
}
section {
	padding: 50px 0;
}

a {
	color: rgb(0, 0, 0);
}

a:hover {
	color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(0, 0, 0);
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: rgb(0, 0, 0);
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

footer {
    flex-shrink: 0;
}
.content {
    flex: 1;
}

html * {
	font-family: "SF UI Text" !important;
    font-weight: normal;
}

.bold {
    font-family: "SF UI Text";
    font-weight: bold;
    font-size: 16pt;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	min-width: 350px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#img_logout {
	width: 20px;

}
.service_logo {
	border-radius: 100%;
	border: 1px solid black;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

